body{
    font-family: 'Roboto', sans-serif;
    background-color: #948bc7;
}

/* navbar css starts here  */
.bg-light{
    background-color: #479755!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #1c324d!important;
}

.nav-link{
    color: #4974a8!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #251ab9;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(13, 81, 145)!important;
    color: #db29a0!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(22, 41, 214)!important;
}